
/*=====================================================Main section====*/
.maincontent{
  padding-top: 5%;
}
.aboutpart h1{
  color: yellow;
  font-weight: 100;
  font-size: 2em;
}
.aboutpart h2{
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  text-shadow: 2px 2px 8px #030202;
  background-color: sky;
}



/*=====================================================Main section====*/

.gallery-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  grid-gap:2em;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.gallery-grid img{
  width: 300px;
  height: 300px;
  border-radius: .2em;
  object-fit: cover;
  object-position: center;
}


  /*------------------RESPONSIVE DESIGN start-------------------------*/

  @media screen and (max-width: 1200px) {

    .navbar{
        grid-template-columns: 1fr auto;
        padding: 2%;
    }

    .carditem{
        max-width: 150px;
        padding: 5%;
    }
    .carditem img{
        max-width: 150px;
    }
  }

  @media screen and (max-width: 992px) {

    .navbar{
        grid-template-columns: 2fr;
        grid-template-columns:  auto;
        padding: 2%;
        grid-gap:1em;
        justify-items: stretch;
    }

    .logobar{
        padding: 5%;
        justify-items:stretch;
        border-bottom: 2px solid black;
    }
    .carditem{
        max-width: 150px;
        padding: 5%;
    }
    .carditem img{
        max-width: 150px;
    }
  }


  @media screen and (max-width: 768px) {

    .navbar{
      grid-template-columns: 1fr;
      padding: 2%;
      grid-gap:.5em;
    }

    .links{
        grid-template-columns: 1fr ;
    }

    .cards{
        grid-template-columns: 1fr 1fr;
    }
    .carditem{
        min-width: 150px;
        padding: 5%;
    }
    .carditem img{
        max-width: 80px;
    }

    footer{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    footer .socialmedia{
        padding-right: 0;
    }

  }
  /*------------------RESPONSIVE DESIGN end-------------------------*/
